.card {
    width: 15em;
    height: 22em;
    background-color: #303030;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    margin-top: 1em;
}

.text-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
    margin-top: 0.8em;

}

.link-item {
    width: 5em;
    display: flex;
    justify-content: space-between;
}


.hidden {
    top: 22em;
}

.shown {
    top: 0em;
}


.options {
    position: absolute;
    height: 1.5em;
    width: 15em;
    cursor: pointer;
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(200, 200, 200);
    left: 0;
    bottom: 0;
    border-radius: 0 0 0.5em 0.5em;
}


.card-img {
    height: 13em;
    width: 13em;
}

.img-back {
    height: 6em;
    width: 6em;
    border-radius: 0.2em;
}

.card-img, h1, p {
    margin-bottom: 0.5em;
}

a {
    color: white;
    text-decoration: none;
    /* no underline */
}

a:hover {
    color: rgb(194, 194, 194);
    text-decoration: underline;
    /* no underline */
}

.card-container h1 {
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
}


.card .artist {
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
}

.card .score {
    font-size: 0.85em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin: 0.2em 0;
}

.accent {
    color: red
}