.card-container {
    width: 80%;
    height: 80%;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    overflow-y: scroll;
    margin: auto;
}